.webtoon-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 85vh;
}

.webtoon-detail .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.webtoon-detail img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
    margin: 30px;
}

.webtoon-detail .info-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 270px);
    margin-left: 10px;
    padding: 20px;
}
.webtoon-detail .info {
     margin:20px;
 }

.webtoon-detail h1 {
    margin: 0;
    padding: 0;
    font-size: 38px;
    color: #333;
}

.webtoon-detail h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.webtoon-detail p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.webtoon-detail .section {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

.webtoon-detail .array-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.webtoon-detail .array-section p {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    margin: 0;
}

.webtoon-detail .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.webtoon-detail button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.webtoon-detail button:hover {
    background-color: #0056b3;
}

.webtoon-detail .msg {
    color: green;
}

.webtoon-detail .error {
    color: red;
}
